@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso Air</h1>
    <p class="lead">Contoso Air is your one stop location across the Globe for renting airplanes and pilots.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Why not vist one of our locations country wide and talk to one of our staff.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What do you?</h2>
        <p>We rent planes and pilots. For a day, week, month or even a year!</p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>We're located across the world in a location near you.</p>
    </div>
</div>